// fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Seymour One', sans-serif;

// colors
$primary-font-color: #616368;
$secondary-font-color: #242f51;
$button-light-color: #ffffff;
$logo-accent-color: #fcae61;
$accent-color: #feaa25;
$solid-bg-color: #fdfdfe;
$accent-icon-color: #999CA5;

// Buttons

$btn-default-color: #2500f9;
$button-text-color: #ffffff;
$btn-disabled-color: #fff;

// border radius
$border-radius: 50px;
$btn-border-radius: 35px;

// sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$copyright-color: #fff;

// Icons color

$first-icon-color: #f55767;
$second-icon-color: #2563ff;
$third-icon-color: #40975f;
