<section class="section section-advantages">
  <div class="container container-advantages">
    <h2 class="advantages__title">Why you should choose our app</h2>
    <p class="advantages__descr">
      The rise of mobile devices transforms the way we consume information
      entirely and the world's most relevant channels such as Facebook.
    </p>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__icon-wrapper advantages__icon-wrapper--one">
          <svg class="advantages__icon" width="58" height="58">
            <use href="./images/icons-science.svg#web-design"></use>
          </svg>
        </div>
        <h3 class="advantages__heading">App Development</h3>
        <p class="advantages__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-wrapper advantages__icon-wrapper--two">
          <svg class="advantages__icon" width="58" height="58">
            <use href="./images/icons-science.svg#trophy"></use>
          </svg>
        </div>
        <h3 class="advantages__heading">10 Times Award</h3>
        <p class="advantages__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-wrapper advantages__icon-wrapper--three">
          <svg class="advantages__icon" width="58" height="58">
            <use href="./images/icons-science.svg#computer"></use>
          </svg>
        </div>
        <h3 class="advantages__heading">Cloud Storage</h3>
        <p class="advantages__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-wrapper advantages__icon-wrapper--four">
          <svg class="advantages__icon" width="58" height="58">
            <use href="./images/icons-science.svg#customer-support"></use>
          </svg>
        </div>
        <h3 class="advantages__heading">Customization</h3>
        <p class="advantages__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-wrapper advantages__icon-wrapper--five">
          <svg class="advantages__icon" width="58" height="58">
            <use href="./images/icons-science.svg#ui"></use>
          </svg>
        </div>
        <h3 class="advantages__heading">UX Planning</h3>
        <p class="advantages__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-wrapper advantages__icon-wrapper--six">
          <svg class="advantages__icon" width="58" height="58">
            <use href="./images/icons-science.svg#customer-service"></use>
          </svg>
        </div>
        <h3 class="advantages__heading">Customer Support</h3>
        <p class="advantages__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
    </ul>
  </div>
</section>
