<section class="section section__download">
  <div class="container download">
    <h2 class="download__title">Download our App now !</h2>
    <p class="download__descr">
      The rise of mobile devices transforms the way we consume information
      entirely and the world's most elevant channels such as Facebook.
    </p>
    <ul class="download__list">
      <li class="download__item">
        <a href="#" nofollow noopener norefferer aria-label="GoogleStore">
          <img
            src="./images/download/googlestore.png"
            alt="GoogleStore"
            width="185"
            height="55"
          />
        </a>
      </li>
      <li class="download__item">
        <a href="#" nofollow noopener norefferer aria-label="AppStore">
          <img
            src="./images/download/appstore.png"
            alt="AppStore"
            width="185"
            height="55"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
