<section class="section section__features" id="Key-Features">
  <div class="container features__container">
    <div class="features">
      <h2 class="features__title">Awesome apps features</h2>
      <p class="features__description">
        Increase productivity with a simple to-do app. app for managing your
        personal budgets.
      </p>
      <ul class="features__list">
        <li class="features__list-item">
          <div class="icon__wrapper icon__wrapper--one">
            <svg
              class="features__icon features__icon--first"
              width="58"
              height="58"
            >
              <use href="./images/icons-science.svg#speed"></use>
            </svg>
          </div>
          <div class="features__descr">
            <h3 class="features__list-title features__list-title--first">
              Fast Performance
            </h3>
            <p class="features__list-descr">
              Get your blood tests delivered at home collect a sample from the
              news your blood tests.
            </p>
          </div>
        </li>
        <li class="features__list-item">
          <div class="icon__wrapper icon__wrapper--two">
            <svg
              class="features__icon features__icon--second"
              width="58"
              height="58"
            >
              <use href="./images/icons-science.svg#prototyping"></use>
            </svg>
          </div>
          <div class="features__descr">
            <h3 class="features__list-title features__list-title--second">
              Prototyping
            </h3>
            <p class="features__list-descr">
              Get your blood tests delivered at home collect a sample from the
              news your blood tests.
            </p>
          </div>
        </li>
        <li class="features__list-item">
          <div class="icon__wrapper icon__wrapper--three">
            <svg
              class="features__icon features__icon--third"
              width="58"
              height="58"
            >
              <use href="./images/icons-science.svg#vector"></use>
            </svg>
          </div>
          <div class="features__descr">
            <h3 class="features__list-title features__list-title--third">
              Vector Editing
            </h3>
            <p class="features__list-descr">
              Get your blood tests delivered at home collect a sample from the
              news your blood tests.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
