<section class="section feedback__section" id="Testimonials">
  <div class="container feedback__contaner">
    <div class="feedback__wrapper">
      <h2 class="feedback__title">Meet Client Satisfaction by using product</h2>
      <p class="feedback__descr">
        The rise of mobile devices transforms the way we consume relevant
        channels such as Facebook.
      </p>
      <p class="feedback__rate">
        <svg class="feedback__icon" width="20" height="20">
          <use href="./images/iconsnew.svg#icon-star"></use>
        </svg>
        <svg class="feedback__icon" width="20" height="20">
          <use href="./images/iconsnew.svg#icon-star"></use>
        </svg>
        <svg class="feedback__icon" width="20" height="20">
          <use href="./images/iconsnew.svg#icon-star"></use>
        </svg>
        <svg class="feedback__icon" width="20" height="20">
          <use href="./images/iconsnew.svg#icon-star"></use>
        </svg>
        <svg class="feedback__icon" width="20" height="20">
          <use href="./images/iconsnew.svg#icon-star"></use>
        </svg>
      </p>
      <h3 class="feedback__heading">User friendly & Customizable</h3>
      <p class="feedback__paragraph">
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day, going forward, a new normal that has
        evolved from generation X is on the runway heading towards a streamlined
        cloud solution. User generated content in real-time will have multiple
        touchpoints for offshoring.
      </p>
      <div class="user__wrapper">
        <picture>
          <source
            srcset="
              ./images/feedback/user.webp    1x,
              ./images/feedback/user@2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/feedback/user.png    1x,
              ./images/feedback/user@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/feedback/user.webp    1x,
              ./images/feedback/user@2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/feedback/user.png    1x,
              ./images/feedback/user@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/feedback/user.webp    1x,
              ./images/feedback/user@2x.webp 2x
            "
            media="(min-width:480px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/feedback/user.png    1x,
              ./images/feedback/user@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img class="user__img" src="./images/feedback/user.png" alt="user" />
        </picture>
        <div class="user__descr-box">
          <h4 class="user__name">Zoltan Nemeth</h4>
          <p class="user__position">CEO of Pixler La</p>
        </div>
        <svg class="arrow" width="18" height="18">
          <use href="./images/iconsnew.svg#arrow-icon"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
