<footer class="section footer">
  <div class="container footer__container">
    <a href="#" class="footer__logo"
      ><p class="footer__logo--part1">
        App<span class="footer__logo--part2">Lab</span>
      </p>
    </a>
    <nav>
      <ul class="footer__nav">
        <li class="footer__nav-list">
          <a class="footer__nav-link" href="#home">Home</a>
        </li>
        <li class="footer__nav-list">
          <a class="footer__nav-link" href="#Key-Features">Key Features</a>
        </li>
        <li class="footer__nav-list">
          <a class="footer__nav-link" href="#Pricing">Pricing</a>
        </li>
        <li class="footer__nav-list">
          <a class="footer__nav-link" href="#Testimonials">Testimonials</a>
        </li>
        <li class="footer__nav-list">
          <a class="footer__nav-link" href="#FAQ">FAQ</a>
        </li>
      </ul>
    </nav>
    <ul class="social">
      <li class="social__item">
        <a
          class="social__link"
          href="#"
          nofollow
          noopener
          norefferer
          aria-label="Instagram"
        >
          <svg class="social__icon" width="25" height="25">
            <use href="./images/iconsnew.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          class="social__link"
          href="#"
          nofollow
          noopener
          norefferer
          aria-label="Twitter"
        >
          <svg class="social__icon" width="25" height="25">
            <use href="./images/iconsnew.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          class="social__link"
          href="#"
          nofollow
          noopener
          norefferer
          aria-label="Hashtag"
        >
          <svg class="social__icon" width="25" height="25">
            <use href="./images/iconsnew.svg#icon-hashtag"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          class="social__link"
          href="#"
          nofollow
          noopener
          norefferer
          aria-label="LinkedIn"
        >
          <svg class="social__icon" width="25" height="25">
            <use href="./images/iconsnew.svg#icon-github"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="copyright">
      Copyright© Arifur Rahman Tushar 2019. All rights reserved
    </p>
  </div>
</footer>
