<section class="section section__hero" id="home">
  <div class="container hero__container">
    <div class="hero__wrapper">
      <div class="hero__breadcrumps">
        <div class="hero__icon-box">
          <svg class="hero__icon" width="19" height="19">
            <use href="./images/icons-science.svg#tick"></use>
          </svg>
        </div>
        <p class="hero__descr">#1 Editors Choice App of 2020</p>
      </div>
        <h1 class="hero__title heartbeat">
          Best app for your modern lifestyle
        </h1>
      <p class="hero__paragraph">
        Increase productivity with a simple to-do app. app for managing your
        personal budgets.
      </p>
      <div class="hero__flex">
        <button
          class="hero__btn js-open-modal"
          data-modal="openTryForFree"
          type="button"
        >
          Try for free
        </button>
        <a href="#" class="hero__link"> Watch demo video</a>
      </div>
    </div>
  </div>
</section>
