<section class="section latestCode">
  <div class="container latestcode__box">
    <div class="content__wrapper">
      <h2 class="latestcode__title">
        Designed & built by the latest code integration
      </h2>
      <p class="latestcode__descr">
        The rise of mobile devices transforms the way we consume information
        entirely and the world's most relevant channels such as Facebook.
      </p>
      <button class="latestcode__btn" type="button">Learn More</button>
    </div>
  </div>
</section>
