<section class="section pricing__section" id="Pricing">
  <div class="container pricing__container">
    <h2 class="pricing__title">Get awesome features, without extra charges</h2>
    <p class="pricing__descr">
      The rise of mobile devices transforms the way we consume information
      entirely and the world's most relevant channels such as Facebook.
    </p>
    <div class="btn__container">
      <button class="pricing__btn" type="button">Monthly</button
      ><button class="pricing__btn" type="button" disabled>Annually</button>
    </div>
    <ul class="pricing__list">
      <li class="pricing__item">
        <div class="breadcrumps">
          <p class="pricing__name">
            $0<span class="pricing__extra">/month</span>
          </p>
          <p class="pricing__type">Business Class</p>
          <p class="pricing__goal">For small teams or office</p>
        </div>
        <ul class="pricing__details">
          <li class="pricing__details-item">Drag & Drop Builder</li>
          <li class="pricing__details-item">1,000's of Templates</li>
          <li class="pricing__details-item">Blog Support Tools</li>
          <li class="pricing__details-item">eCommerce Store</li>
        </ul>
        <button class="subscribe__btn" type="button">Start free trail</button>
      </li>
      <li class="pricing__item pricing__item--grow active">
        <div class="breadcrumps">
          <p class="pricing__name">
            $99<span class="pricing__extra">/month</span>
          </p>
          <p class="pricing__type">Pro Master</p>
          <p class="pricing__goal">For Best opportunities</p>
        </div>
        <ul class="pricing__details">
          <li class="pricing__details-item">Drag & Drop Builder</li>
          <li class="pricing__details-item">1,000's of Templates</li>
          <li class="pricing__details-item">Blog Support Tools</li>
          <li class="pricing__details-item">eCommerce Store</li>
        </ul>
        <button class="subscribe__btn" type="button">Subscribe Now</button>
        <a href="#" class="subscribe">Or Start 14 days trail</a>
      </li>
    </ul>
  </div>
</section>
