<section class="section section__jackpot" id="how-it-is-made">
  <div class="container jackpot__container">
    <div class="jackpot__wrapper">
      <h2 class="jackpot__title">
        Smart jackpots that you may love this anytime & anywhere
      </h2>
      <p class="jackpot__descr">
        The rise of mobile devices transforms the way we consume information
        entirely and the world's most elevant channels such as Facebook.
      </p>
    </div>
    <ul class="jackpot__list">
      <li class="jackpot__list-item">
        <div class="icon__wrapper icon__wrapper--one">
          <svg
            class="jackpot__icon jackpot__icon--first"
            width="58"
            height="58"
          >
            <use href="./images/icons-science.svg#bill"></use>
          </svg>
        </div>
        <h3 class="jackpot__list-title jackpot__list-title--first">
          Automatic Payouts
        </h3>
        <p class="jackpot__paragraph">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="jackpot__list-item">
        <div class="icon__wrapper icon__wrapper--two">
          <svg
            class="jackpot__icon jackpot__icon--second"
            width="58"
            height="58"
          >
            <use href="./images/icons-science.svg#network"></use>
          </svg>
        </div>
        <h3 class="jackpot__list-title jackpot__list-title--second">
          Network Effect
        </h3>
        <p class="jackpot__paragraph">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="jackpot__list-item">
        <div class="icon__wrapper icon__wrapper--three">
          <svg
            class="jackpot__icon jackpot__icon--third"
            width="58"
            height="58"
          >
            <use href="./images/icons-science.svg#badge"></use>
          </svg>
        </div>
        <h3 class="jackpot__list-title jackpot__list-title--third">
          Bigger Rewards Method
        </h3>
        <p class="jackpot__paragraph">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
    </ul>
  </div>
</section>
