<section class="section trustedCompanies">
  <div class="container trusted__container">
    <h2 class="trusted__title">Trusted by companies like</h2>
    <ul class="trusted__list">
      <li class="trusted__item">
        <a href="#" nooopener norefferer nofollow
          ><img class="trusted__img" src="./images/trustedcompanies/logo1.png" alt="logo-one" width="150"
        /></a>
      </li>
      <li class="trusted__item">
        <a href="#" nooopener norefferer nofollow
          ><img class="trusted__img" src="./images/trustedcompanies/logo2.png" alt="logo-two" width="150"
        /></a>
      </li>
      <li class="trusted__item">
        <a href="#" nooopener norefferer nofollow
          ><img class="trusted__img" src="./images/trustedcompanies/logo3.png" alt="logo-three" width="150"
        /></a>
      </li>
      <li class="trusted__item">
        <a href="#" nooopener norefferer nofollow
          ><img class="trusted__img" src="./images/trustedcompanies/logo4.png" alt="logo-four" width="150"
        /></a>
      </li>
      <li class="trusted__item">
        <a href="#" nooopener norefferer nofollow
          ><img class="trusted__img" src="./images/trustedcompanies/logo5.png" alt="logo-five" width="150"
        /></a>
      </li>
    </ul>
  </div>
</section>
