<section class="ultimate section">
  <div class="container ultimate__container">
    <div class="title__wrapper">
      <h2 class="ultimate__title">Ultimate features that we built</h2>
      <p class="ultimate__descr">
        The rise of mobile devices transforms the way we consume information
        entirely.
      </p>
    </div>
    <ul class="ultimate__list">
      <li class="ultimate__item">
        <div class="ultimate__icon-wrapper ultimate__icon-wrapper--one">
          <svg class="ultimate__icon" width="58" height="58">
            <use href="./images/icons-science.svg#web-design"></use>
          </svg>
        </div>
        <h3 class="ultimate__heading">App Development</h3>
        <p class="ultimate__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="ultimate__item">
        <div class="ultimate__icon-wrapper ultimate__icon-wrapper--two">
          <svg class="ultimate__icon" width="58" height="58">
            <use href="./images/icons-science.svg#ui"></use>
          </svg>
        </div>
        <h3 class="ultimate__heading">UX Planning</h3>
        <p class="ultimate__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="ultimate__item">
        <div class="ultimate__icon-wrapper ultimate__icon-wrapper--three">
          <svg class="ultimate__icon" width="58" height="58">
            <use href="./images/icons-science.svg#computer"></use>
          </svg>
        </div>
        <h3 class="ultimate__heading">Cloud Storage</h3>
        <p class="ultimate__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
      <li class="ultimate__item">
        <div class="ultimate__icon-wrapper ultimate__icon-wrapper--four">
          <svg class="ultimate__icon" width="58" height="58">
            <use href="./images/icons-science.svg#customer-service"></use>
          </svg>
        </div>
        <h3 class="ultimate__heading">Customer Support</h3>
        <p class="ultimate__text">
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </li>
    </ul>
    <button class="ultimate__btn" type="button">See all</button>
  </div>
</section>
